html,
body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100%;
    color: #212121;
    font-size: 16px;
    line-height: 24px;
}

p,ul,ol,li {
    color: #757575;
}

#flex-page {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    min-height: 100%;
}

.justify-text {
    text-align: justify;
}